p{
    color: #a95858;
}
h1{
    color: blue;
}
//____________________________--colors fonts____________________________________
  p {
      color: #ffffff; //на разноцветном фоне
      color: #823f3f;
      color: #5f5e4e; //на разноцветном фоне

  }