//-----------------------------------------Import-----------------------------------
@import "reset.css";
@import "color.css";
@import "fonts.css";
//-----------------------------------------Import-----------------------------------
//------------------------------------- common properties---------------------------

//----------------header----------------------
body{
  header{
    width: 100%;
    background: url("../img/bg_header.jpg") top center no-repeat/cover;
    color: #fff;
    .containet{
      .menu{
        ul{
          li{
            a{
              text-transform: uppercase;
              color: #823f3f;
            }
          }
        }
      }
    }
  }
}